*, *:before, *:after { box-sizing: border-box; }

* {
  font-weight: 300;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 15px;
  background: #f9f9f9;
}

h1, h2 {
  font-weight: normal;
  font-size: 15px;

  span {
    opacity: 0.5;
  }
}

p {
  line-height: 1.4em;
  padding: 3px 0px;
}

.live-styleguide-header {
  background: #333;
  text-align: center;
  padding: 20px;
  color: rgba(255, 255, 255, 0.2);
  img {
    margin-bottom: 10px;
    width: 30px;
  }
}

// Prism overwrites
code[class*="language-"], pre[class*="language-"] {
  font-size: 13px;
}


@import 'partials/container-pointers.scss';



@import 'partials/_checkbox.scss';
@import 'partials/_radio-buttons.scss';
