*, *:before, *:after { box-sizing: border-box; }

* {
  font-weight: 300;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 13px;
}

p {
  line-height: 1.4em;
  padding: 3px 0px;
}

@import 'partials/pointer'
