*, *:before, *:after { box-sizing: border-box; }

* {
  font-weight: 400;
  padding: 0;
  margin: 0;
}

p {
  color: #7c7979;
}

p a:hover {
  // border-bottom: 2px solid #7c7979;
  // padding-bottom: 2px;
  // text-decoration: none;
}


p a {
  position: relative;
  text-decoration: none;
}

p a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0px;
  display: block;
  width: 100%;
  height: 2px;
  background: #cecece;
}

p a:hover {
  text-decoration: none;
  &:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0px;
    display: block;
    width: 100%;
    height: 2px;
    background: #36b85e;

    animation: animate 0.5s ease-out 1;
  }
}

@keyframes animate {
  0% { width: 0px;}
  100% { width: 100%; }
}

.code-container {
  // display: none;
  // padding: 10px;
  // margin: 10px 0px;
  // border: 1px dashed #e7e3e3;
}

.styleguide-controls {
  display: block;
  background: #333;
  color: #f9f9f9;
  padding: 10px;
}


body {
  font-family: "Museo sans";
  font-weight: 600;
  font-size: 12px;
  background: #fefefe;
  color: #6d6d6d;
}

h1, h2, h3, p {
  cursor: default;
}

h1, h2, h3 {
  font-weight: normal;
  font-size: 15px;


  span {
    opacity: 0.5;
  }
}

p {
  line-height: 2em;
  padding: 0;
  margin: 0;
}

.live-styleguide-header {
  background: #333;
  text-align: center;
  padding: 20px;
  color: rgba(255, 255, 255, 0.2);
  img {
    margin-bottom: 10px;
    width: 30px;
  }
}

// Prism overwrites
code[class*="language-"], pre[class*="language-"] {
  font-size: 13px;
}


@import 'partials/container-pointers.scss';



@import 'partials/_checkbox.scss';
@import 'partials/_radio-buttons.scss';

@import 'partials/lists.scss';

a {
  color: #636363;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}



.tabs {
  display: block;
  width: 100%;
  border-bottom: 1px solid #cecece;

  li {
    display: inline-block;
    position: relative;
    top: 1px;
    &.active {

    }
  }

  a {
    display: block;
    padding: 7px 10px;
    text-decoration: none;
  }
}



article {
  padding-left: 10px;
  margin-top: 15px;
  header {
    margin-bottom: 25px;
  }
}

h1 {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: 1.2em;
}

h2 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #bbbbbb;
}

h3 {
  font-size: 13px;
  font-weight: 500;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {

}

p + p {
  margin-top: 10px;
}





.breadcrumbs {
  padding: 15px 10px;
  border-bottom: 1px solid #eaeaeb;

  a {
    color: #b8b5b5;
    font-weight: 500;
  }

  li {
    display: inline-block;
  }

  li + li {
    margin-left: 20px;
  }

  li:last-child a {
    color: #959595;
  }
}







.user {
  display: inline;

  &:hover {
    text-decoration: none;
  }
  .avatar {
    display: inline-block;
    width: 19px;
    height: 19px;
    font-size: 9px;
    padding-top: 4px;
    font-weight: 600;
    border-radius: 199px;
    text-align: center;
    background: #cecece;
    color: #fff;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.marked-text {
  background: #fed961;
  border-radius: 2px;
  padding: 2px 4px;
  color: #333;
}

hr {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  height: 1px;
  background: #EAEAEB;
  margin-top: 20px;
  margin-bottom: 20px;
}






.file-list {
  a {
    color: #8a8a8a;
  }

  li {
    display: block;
    margin: 5px 0px;
  }
}

.file-size {
  margin-lefT: 7px;
  color: #cecece;
}

.file-tag {
  display: inline-block;
  border-radius: 2px;
  padding: 2px 5px;
  background: #cecece;
  color: #fff;
  font-size: 9px;
  font-weight: 600;;
  text-transform: uppercase;
  margin-right: 5px;

  &.pdf {
    background: #fc4300;
    color: #fed9cc;
  }

  &.zip {
    background: #dab641;
    color: #57491a;
  }


}




.code-container {
  position: relative;


  .reveal-code {
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #cecece;
    cursor: pointer;
  }

}




.world {
  padding-left: 310px;
}

aside {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 300px;
  background: #33373b;
  color: rgba(255, 255, 255, 0.5);
}




//
