*, *:before, *:after { box-sizing: border-box; }

* {
  font-weight: 300;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro";
  font-weight: 300;
  font-size: 15px;
  background: #f9f9f9;
}

h1, h2 {
  font-weight: normal;
  font-size: 15px;

  span {
    opacity: 0.5;
  }
}

p {
  line-height: 1.4em;
  padding: 3px 0px;
}


@import 'partials/container-pointers.scss'
