

<nav class="breadcrumbs">
    <ul>
      <li><a href="#">Documentation</a></li>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Creating a new project with extra users</a></li>
    </ul>
</nav>

<article>
  <div class="code-container">
    <%= partial "/pages/article/article-header.html" %>
  </div>

  <p>When I first heard about <span class="marked-text">AngularJS it caught</span> my attention immediately because it appeared to offer a single framework that could be used to build a variety of dynamic, client-centric applications. After researching it more, my initial impressions were confirmed, and I was hooked. AngularJS includes a robust set of features and offers a way to break up code into modules, which is good for reuse, maintenance, and testability. It provides key features, such as support for DOM manipulation, animations, templating, two-way data binding, routing, history, Ajax, testing, and much more.</p>
  <h3>Lorel isum</h3>
  <p>When I first heard about <a href="#">AngularJS it caught my attention</a> immediately because it appeared to offer a single framework that could be used to build a variety of dynamic, client-centric applications. After researching it more, my initial impressions were confirmed, and I was hooked. AngularJS includes a robust set of features and offers a way to break up code into modules, which is good for reuse, maintenance, and testability. It provides key features, such as support for DOM manipulation, animations, templating, two-way data binding, routing, history, Ajax, testing, and much more.</p>
  <p>While having a core framework to build on is great, it can also be intimidating and challenging to learn.</p>
  <hr>

  <h3>File downloads</h3>
  <div class="file-list">
      <ul>
        <li>
          <a href="#">
            <span class="file-tag pdf">.pdf</span>document_file_download.pdf<span class="file-size">124kb</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="file-tag zip">.zip</span>another_file.zip<span class="file-size">124kb</span>
          </a>
        </li>
      </ul>
  </div>
</article>
