
<% path = "/Users/dennis/Projects/live-styleguide/source/stylesheets/partials/pointer.scss" %>
<% f = File.open(path) %>


<h1>This file exists at: <span><%= path %></span></h1>

<pre>
  <code class="language-scss">


    <% f.each_line do |f| %>
      <%= f.chomp %>
    <% end %>

  </code>
</pre>
