<h1>SuperDocs color scheme</h1>

<h2>Font Colors</h2>

<div class="styleguide-color-blocks">

  <div>
    <div class="color-block background"></div>
    <span>$background: #fefefe; (page background)</span>
  </div>

  <div>
    <div class="color-block dark-background"></div>
    <span>$dark-background: #33373b; (sidebar background)</span>
  </div>

  <div>
    <div class="color-block text-color"></div>
    <span>$text-color: #7c7979; (text color expect paragraphs)</span>
  </div>

  <div>
    <div class="color-block lighter-text-color"></div>
    <span>$lighter-text-color: #cecece; (grey text)</span>
  </div>

  <div>
    <div class="color-block darker-text-color"></div>
    <span>$darker-text-color: #333; (dark text)</span>
  </div>

  <div>
    <div class="color-block paragraph-color"></div>
    <span>$paragraph-color: #7c7979; (Paragraph text color)</span>
  </div>

  <div>
    <div class="color-block link-color"></div>
    <span>$link-color: #33373b; (link color)</span>
  </div>

  <div>
    <div class="color-block border-color"></div>
    <span>$border-color: #eaeaeb; (color for border lines and dividers)</span>
  </div>







</div>

<h3>Marked Text</h3>
<p>This <span class="marked-text">is some marked text</span> for the editor.
