<h1>SuperDocs color scheme</h1>

<h2>Font Colors</h2>

<div class="color-block background"></div>
<div class="color-block dark-background"></div>
<div class="color-block text-color"></div>
<div class="color-block lighter-text-color"></div>
<div class="color-block darker-text-color"></div>
<div class="color-block paragraph-color"></div>
<div class="color-block link-color"></div>
<div class="color-block border-color"></div>

<h3>Marked Text</h3>
<p>This <span class="marked-text">is some marked text</span> for the editor.
